.game {
  > table {
    margin: 20px auto;
    td {
      vertical-align: top;
      width: 140px;
      &.mapWrap {
        width: 800px;
      }
    }
  }

  .s {
    width: 120px;
    height: 300px;
    border: 1px black solid;
    cursor: pointer;
    
    &.active {
      border: 3px green solid;
    }

    img {
      width: 100%;
    }
    .status {
      border-top: 1px black solid;
      border-bottom: 1px black solid;
      padding: 10px 0;
    }
    .actions {
      padding: 10px 0;
    }
    .bag {
      padding: 10px 0;
    }
  }

  .map {
    td {
      width: 100px;
      height: 100px;
      border: 1px dashed black;
      box-sizing: border-box;
      &.moveTarget { 
        border: 3px orange solid;
      }
    }
    &.moveOn {
      td:hover {
        border: 3px orange solid;
      }
    }
  }
}