<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    {{#if css}}
      <style>
        {{{ css }}}
      </style>
    {{else}}
      <link rel="stylesheet" href="main.css">
    {{/if}}
  </head>
  <body>
    <div class="game">
      <table>
        <tr>
          <td>
            <div class="s sBob win" id="sBob"></div>
          </td>
          <td rowspan="2" class="mapWrap">
            <div id="mapImg"></div>
            <table class="map" id="map"></table>
          </td>
          <td>
            <div class="s sTom win" id="sTom"></div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="s sRon win" id="sRon"></div>
          </td>
          <td>
            <div class="s sMax win" id="sMax"></div>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <div class="win gameinfo">
              <div class="name">Game and Stock info</div>
              <div id="stock"></div>
              <button id="nextTurn">Next Turn</button>
            </div>
          </td>
          <td></td>
        </tr>
      </table>
    </div>
    {{#if js}}
      <script>
        {{{ js }}}
      </script>
    {{else}}
      <script src='main.js'></script>
    {{/if}}
  </body>
</html>
